.authuser{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url('../../../public/images/bg_auth.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}




.authuser__wrapper{
    margin: auto;
    padding:7px 20px 34px;
    width: 460px;
    background-color: #FFFFFF;
}

.authuser__step-auth,
.authuser__step{
    margin: 0;
    margin-bottom: 15px;
    height: 20px;
    text-align: right;
}

.authuser__title{
    margin: 0;
    margin-bottom: 36px;
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;
    text-transform: uppercase;
    color: #161516;
    text-align: center;
}

.authuser__step span{
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    text-decoration-line: underline;
    color: #D58C51;
    cursor: pointer;
}

.authuser__step-auth span{
    display: none;
}



.form .form__field{
    outline: none;
    padding: 10px 18px;
    width: 100%;
    border: 1px solid #D58C51;
    border-radius: 61px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #161516;
} 


::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #161516;
}
::-moz-placeholder          {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #161516;
}/* Firefox 19+ */
:-moz-placeholder           {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #161516;
}/* Firefox 18- */
:-ms-input-placeholder      {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #161516;
}


.form__checkbox{
    display: flex;
    align-items: center;
    position: relative;
}


.form__checkbox > label{
    font-weight: 300;
    font-size: 11px;
    color: #301411;
    height: 18px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 27px;
    cursor: pointer;
}



.form__checkbox label > span{
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #D58C51;
    border-radius: 50%;
}

.form__checkbox label > span::before{
    content:"";
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: #D58C51;
    border-radius: 50%;
    display: none;
}


input[type="checkbox"]:checked + label > span::before{
    display: block;
}


.form__checkbox + p{
    margin: 12px 0 12px;
    text-align: center;
}

.form__field-error,
.form__reg-sucsess{
    padding-left: 19px;
    margin: 5px 0;
    height: 10px;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    text-align: left;
}

.form__field-error{
    color: #FF0B0B;
}

.form__reg-sucsess{
    color:green;
}

.form .form__btn-submit{
    margin: 0 auto;
    display: block;
    cursor: pointer;
}


@media (max-width:460px){
    .authuser__wrapper{
        width: auto;
    }

    .authuser__title{
        font-size: 22px;
    }
}

@media (max-width:350px){
    .authuser{
        width: auto;
    }
}